@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-navbar: "Inconsolata", monospace;
  --font-body: "Roboto", sans-serif;
}

body {
  font-family: var(--font-body)!important; /* Roboto for the whole website */
}

.navbar {
  font-family: var(--font-navbar); /* Inconsolata for the Navbar */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  sans-serif;
}
